body {
  background: black;
  color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
body .middle-content {
  margin-top: 20%;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
}
body .mg-tp {
  margin-top: 15px;
}
body .green-1 {
  color: #00b900;
}
